---
import Layout from '../layouts/Layout.astro';
---

<Layout title='404'>
  <div class='min-h-screen flex justify-center items-center flex-col gap-2'>
    <h1 class='sm:text-9xl text-7xl'>404</h1>
    <p class='text-center'>La página solicitada no se encuentra disponible</p>
    <a href='/'>
      <button class='bg-secondary text-white p-3 rounded-sm text-base shadow-lg'
        >ir a Inicio</button
      >
    </a>
  </div>
</Layout>
