<button
  class='p-4 bg-secondary text-white rounded-md text-md lg:text-base font-[vicecitybold] shadow-lg hover:scale-105 hover:shadow-2xl transition-all sm:w-[250px] mx-auto'
>
  <slot />
</button>
